{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>ToDoアプリ</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/detail.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <h2>Detail:{{ task.detail }}</h2>
    <ul>
      <li>登録日: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>日付: {{ task.due_at }}</li>
      {% endif %}
      {% if task.status == "completed" %} 
      <li>ステータス: 完了</li>
      {% elif task.status == "in_progress" %}
      <li>ステータス: 実行中</li>
      {% else %}
      <li>ステータス: 未完了</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">トップ</a>
      | <a href="{% url 'update' task.id %}">編集</a>
      | <a href="{% url 'delete' task.id %}">削除</a>
      | <a href="{% url 'start' task.id %}">Start</a>
      | <a href="{% url 'close' task.id %}">完了にする</a>
    </div>
  </body>

</html>