{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>ToDoアプリ</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/edit.css' %}">

  </head>

  <body>
    <h1>編集</h1>
    <p>編集する内容を変更してください</p>
    <form action="{% url 'update' task.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title" value="{{ task.title }}">
      </div>
      <div>
        <label for="detailInput">詳細</label><br>
        <textarea name="detail" cols="40" rows="8" input id="detailInput" name="detail" type="text" placeholder="Input detail" value="{{ task.detail }}"></textarea>
      </div>
      <div>
        <label for="dueInput">日付</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{task.due_at|date:"Y-m-d H:i"}}">
      </div>
      <div>
        <button type="submit">登録</button>
      </div>
    </form>
    <br>
  </body>

</html>