{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>ToDoアプリ</title>
    <link rel="stylesheet"  href="{% static 'todo/top.css' %}">
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <img src="{% static 'todo/OIG1.PNiX.jpg' %}" alt="ロゴ">
    <h1>oh!  ToDo!</h1>
    <p>ToDoを以下から追加できます</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル:</label><br>
        <input id="titleInput" name="title" type="text" placeholder="やること">
      </div>
      <div>
        <label for="dueInput">日付:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">追加</button>
      </div>
    </form>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due">日付で並べ替える</a> |
      <a href="{% url 'index' %}?order=post">登録日で並べ替える</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>登録日: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>日付: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>ステータス: 完了</li>
        {% else %}
        <li>ステータス: 未完了</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </body>

</html>